body{
    background-image: url(Chest.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;

    text-align:end;
    color:white;
    font-size: xx-large;
    
}
#chest1{
    width:8vw;
    height:10vh;
    background-color: transparent;
    position:absolute;
    left:34%;
    top:33%;
}
#chest1:hover{
    cursor:pointer;
}
#chest2{
    width:8vw;
    height:10vh;
    background-color: transparent;
    position:absolute;
    left: 34%;
    top:53%;
    
}
#chest2:hover{
    cursor:pointer;
}
#chest3{
    width:8vw;
    height:10vh;
    background-color: transparent;
    position:absolute;
    right:34%;
    top:33%;
    
}
#chest3:hover{
    cursor:pointer;
}
#chest4{
    width:8vw;
    height:10vh;
    background-color: transparent;
    position:absolute;
    right:34%;
    top:53%;
    
}
#chest4:hover{
    cursor:pointer;
}